body {
  background-color: #0f0f0f;
  color: #00ff88;
  font-family: "Courier New", Courier, monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
}

#mes-display {
  font-size: 5rem;
  margin-bottom: 0;
  text-transform: uppercase;
}

#dia-display {
  font-size: 3rem;
  margin-top: 0;
  color: #00ccff;
}

#relogio {
  font-size: 4rem;
  font-weight: bold;
  border-top: 2px solid #333;
  padding-top: 20px;
}
